---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/repos/sous-chefs/java/pulls?page=1&per_page=50&state=open
        method: GET
      response:
        body: '[{"url":"https://api.github.com/repos/sous-chefs/java/pulls/720","id":2213058133,"node_id":"PR_kwDOADjFnM6D6JZV","html_url":"https://github.com/sous-chefs/java/pull/720","diff_url":"https://github.com/sous-chefs/java/pull/720.diff","patch_url":"https://github.com/sous-chefs/java/pull/720.patch","issue_url":"https://api.github.com/repos/sous-chefs/java/issues/720","number":720,"state":"open","locked":false,"title":"Add termurin package install option","user":{"login":"damacus","id":40786,"node_id":"MDQ6VXNlcjQwNzg2","avatar_url":"https://avatars.githubusercontent.com/u/40786?v=4","gravatar_id":"","url":"https://api.github.com/users/damacus","html_url":"https://github.com/damacus","followers_url":"https://api.github.com/users/damacus/followers","following_url":"https://api.github.com/users/damacus/following{/other_user}","gists_url":"https://api.github.com/users/damacus/gists{/gist_id}","starred_url":"https://api.github.com/users/damacus/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/damacus/subscriptions","organizations_url":"https://api.github.com/users/damacus/orgs","repos_url":"https://api.github.com/users/damacus/repos","events_url":"https://api.github.com/users/damacus/events{/privacy}","received_events_url":"https://api.github.com/users/damacus/received_events","type":"User","user_view_type":"public","site_admin":false},"body":"Signed-off-by: Dan Webb <dan.webb@damacus.io>\n","created_at":"2024-12-03T15:17:28Z","updated_at":"2024-12-03T15:17:29Z","closed_at":null,"merged_at":null,"merge_commit_sha":"0dd44b539161ece2a5082b19bc5ef71907c5770b","assignee":null,"assignees":[],"requested_reviewers":[],"requested_teams":[{"name":"maintainers","id":4892075,"node_id":"MDQ6VGVhbTQ4OTIwNzU=","slug":"maintainers","description":"Sous-Chefs Maintainers","privacy":"closed","notification_setting":"notifications_enabled","url":"https://api.github.com/organizations/12356028/team/4892075","html_url":"https://github.com/orgs/sous-chefs/teams/maintainers","members_url":"https://api.github.com/organizations/12356028/team/4892075/members{/member}","repositories_url":"https://api.github.com/organizations/12356028/team/4892075/repos","permission":"pull","parent":null}],"labels":[],"milestone":null,"draft":false,"commits_url":"https://api.github.com/repos/sous-chefs/java/pulls/720/commits","review_comments_url":"https://api.github.com/repos/sous-chefs/java/pulls/720/comments","review_comment_url":"https://api.github.com/repos/sous-chefs/java/pulls/comments{/number}","comments_url":"https://api.github.com/repos/sous-chefs/java/issues/720/comments","statuses_url":"https://api.github.com/repos/sous-chefs/java/statuses/43fefdfd9f085a9eed3f317bff2b34b17a94c3a6","head":{"label":"sous-chefs:termurin","ref":"termurin","sha":"43fefdfd9f085a9eed3f317bff2b34b17a94c3a6","user":{"login":"sous-chefs","id":12356028,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEyMzU2MDI4","avatar_url":"https://avatars.githubusercontent.com/u/12356028?v=4","gravatar_id":"","url":"https://api.github.com/users/sous-chefs","html_url":"https://github.com/sous-chefs","followers_url":"https://api.github.com/users/sous-chefs/followers","following_url":"https://api.github.com/users/sous-chefs/following{/other_user}","gists_url":"https://api.github.com/users/sous-chefs/gists{/gist_id}","starred_url":"https://api.github.com/users/sous-chefs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sous-chefs/subscriptions","organizations_url":"https://api.github.com/users/sous-chefs/orgs","repos_url":"https://api.github.com/users/sous-chefs/repos","events_url":"https://api.github.com/users/sous-chefs/events{/privacy}","received_events_url":"https://api.github.com/users/sous-chefs/received_events","type":"Organization","user_view_type":"public","site_admin":false},"repo":{"id":3720604,"node_id":"MDEwOlJlcG9zaXRvcnkzNzIwNjA0","name":"java","full_name":"sous-chefs/java","private":false,"owner":{"login":"sous-chefs","id":12356028,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEyMzU2MDI4","avatar_url":"https://avatars.githubusercontent.com/u/12356028?v=4","gravatar_id":"","url":"https://api.github.com/users/sous-chefs","html_url":"https://github.com/sous-chefs","followers_url":"https://api.github.com/users/sous-chefs/followers","following_url":"https://api.github.com/users/sous-chefs/following{/other_user}","gists_url":"https://api.github.com/users/sous-chefs/gists{/gist_id}","starred_url":"https://api.github.com/users/sous-chefs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sous-chefs/subscriptions","organizations_url":"https://api.github.com/users/sous-chefs/orgs","repos_url":"https://api.github.com/users/sous-chefs/repos","events_url":"https://api.github.com/users/sous-chefs/events{/privacy}","received_events_url":"https://api.github.com/users/sous-chefs/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/sous-chefs/java","description":"Development repository for the java cookbook","fork":false,"url":"https://api.github.com/repos/sous-chefs/java","forks_url":"https://api.github.com/repos/sous-chefs/java/forks","keys_url":"https://api.github.com/repos/sous-chefs/java/keys{/key_id}","collaborators_url":"https://api.github.com/repos/sous-chefs/java/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/sous-chefs/java/teams","hooks_url":"https://api.github.com/repos/sous-chefs/java/hooks","issue_events_url":"https://api.github.com/repos/sous-chefs/java/issues/events{/number}","events_url":"https://api.github.com/repos/sous-chefs/java/events","assignees_url":"https://api.github.com/repos/sous-chefs/java/assignees{/user}","branches_url":"https://api.github.com/repos/sous-chefs/java/branches{/branch}","tags_url":"https://api.github.com/repos/sous-chefs/java/tags","blobs_url":"https://api.github.com/repos/sous-chefs/java/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/sous-chefs/java/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/sous-chefs/java/git/refs{/sha}","trees_url":"https://api.github.com/repos/sous-chefs/java/git/trees{/sha}","statuses_url":"https://api.github.com/repos/sous-chefs/java/statuses/{sha}","languages_url":"https://api.github.com/repos/sous-chefs/java/languages","stargazers_url":"https://api.github.com/repos/sous-chefs/java/stargazers","contributors_url":"https://api.github.com/repos/sous-chefs/java/contributors","subscribers_url":"https://api.github.com/repos/sous-chefs/java/subscribers","subscription_url":"https://api.github.com/repos/sous-chefs/java/subscription","commits_url":"https://api.github.com/repos/sous-chefs/java/commits{/sha}","git_commits_url":"https://api.github.com/repos/sous-chefs/java/git/commits{/sha}","comments_url":"https://api.github.com/repos/sous-chefs/java/comments{/number}","issue_comment_url":"https://api.github.com/repos/sous-chefs/java/issues/comments{/number}","contents_url":"https://api.github.com/repos/sous-chefs/java/contents/{+path}","compare_url":"https://api.github.com/repos/sous-chefs/java/compare/{base}...{head}","merges_url":"https://api.github.com/repos/sous-chefs/java/merges","archive_url":"https://api.github.com/repos/sous-chefs/java/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/sous-chefs/java/downloads","issues_url":"https://api.github.com/repos/sous-chefs/java/issues{/number}","pulls_url":"https://api.github.com/repos/sous-chefs/java/pulls{/number}","milestones_url":"https://api.github.com/repos/sous-chefs/java/milestones{/number}","notifications_url":"https://api.github.com/repos/sous-chefs/java/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/sous-chefs/java/labels{/name}","releases_url":"https://api.github.com/repos/sous-chefs/java/releases{/id}","deployments_url":"https://api.github.com/repos/sous-chefs/java/deployments","created_at":"2012-03-14T18:15:20Z","updated_at":"2024-12-05T16:44:56Z","pushed_at":"2024-12-05T16:44:52Z","git_url":"git://github.com/sous-chefs/java.git","ssh_url":"git@github.com:sous-chefs/java.git","clone_url":"https://github.com/sous-chefs/java.git","svn_url":"https://github.com/sous-chefs/java","homepage":"https://supermarket.chef.io/cookbooks/java","size":1383,"stargazers_count":387,"watchers_count":387,"language":"Ruby","has_issues":true,"has_projects":false,"has_downloads":false,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":637,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":8,"license":{"key":"apache-2.0","name":"Apache License 2.0","spdx_id":"Apache-2.0","url":"https://api.github.com/licenses/apache-2.0","node_id":"MDc6TGljZW5zZTI="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":["chef","chef-cookbook","chef-resource","hacktoberfest","java","managed-by-terraform"],"visibility":"public","forks":637,"open_issues":8,"watchers":387,"default_branch":"main"}},"base":{"label":"sous-chefs:main","ref":"main","sha":"2989ee626303b1d48b175936171f9c6a16012287","user":{"login":"sous-chefs","id":12356028,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEyMzU2MDI4","avatar_url":"https://avatars.githubusercontent.com/u/12356028?v=4","gravatar_id":"","url":"https://api.github.com/users/sous-chefs","html_url":"https://github.com/sous-chefs","followers_url":"https://api.github.com/users/sous-chefs/followers","following_url":"https://api.github.com/users/sous-chefs/following{/other_user}[...]
