---
version: 2
interactions:
    - id: 0
      request:
        host: api.github.com
        body: ""
        form: {}
        headers:
            X-Github-Api-Version:
                - "2022-11-28"
        url: https://api.github.com/orgs/sous-chefs/repos?page=1&per_page=50&type=all
        method: GET
      response:
        body: '[{"id":983142,"node_id":"MDEwOlJlcG9zaXRvcnk5ODMxNDI=","name":"rvm","full_name":"sous-chefs/rvm","private":false,"owner":{"login":"sous-chefs","id":12356028,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEyMzU2MDI4","avatar_url":"https://avatars.githubusercontent.com/u/12356028?v=4","gravatar_id":"","url":"https://api.github.com/users/sous-chefs","html_url":"https://github.com/sous-chefs","followers_url":"https://api.github.com/users/sous-chefs/followers","following_url":"https://api.github.com/users/sous-chefs/following{/other_user}","gists_url":"https://api.github.com/users/sous-chefs/gists{/gist_id}","starred_url":"https://api.github.com/users/sous-chefs/starred{/owner}{/repo}","subscriptions_url":"https://api.github.com/users/sous-chefs/subscriptions","organizations_url":"https://api.github.com/users/sous-chefs/orgs","repos_url":"https://api.github.com/users/sous-chefs/repos","events_url":"https://api.github.com/users/sous-chefs/events{/privacy}","received_events_url":"https://api.github.com/users/sous-chefs/received_events","type":"Organization","user_view_type":"public","site_admin":false},"html_url":"https://github.com/sous-chefs/rvm","description":"Development repository for the rvm cookbook","fork":false,"url":"https://api.github.com/repos/sous-chefs/rvm","forks_url":"https://api.github.com/repos/sous-chefs/rvm/forks","keys_url":"https://api.github.com/repos/sous-chefs/rvm/keys{/key_id}","collaborators_url":"https://api.github.com/repos/sous-chefs/rvm/collaborators{/collaborator}","teams_url":"https://api.github.com/repos/sous-chefs/rvm/teams","hooks_url":"https://api.github.com/repos/sous-chefs/rvm/hooks","issue_events_url":"https://api.github.com/repos/sous-chefs/rvm/issues/events{/number}","events_url":"https://api.github.com/repos/sous-chefs/rvm/events","assignees_url":"https://api.github.com/repos/sous-chefs/rvm/assignees{/user}","branches_url":"https://api.github.com/repos/sous-chefs/rvm/branches{/branch}","tags_url":"https://api.github.com/repos/sous-chefs/rvm/tags","blobs_url":"https://api.github.com/repos/sous-chefs/rvm/git/blobs{/sha}","git_tags_url":"https://api.github.com/repos/sous-chefs/rvm/git/tags{/sha}","git_refs_url":"https://api.github.com/repos/sous-chefs/rvm/git/refs{/sha}","trees_url":"https://api.github.com/repos/sous-chefs/rvm/git/trees{/sha}","statuses_url":"https://api.github.com/repos/sous-chefs/rvm/statuses/{sha}","languages_url":"https://api.github.com/repos/sous-chefs/rvm/languages","stargazers_url":"https://api.github.com/repos/sous-chefs/rvm/stargazers","contributors_url":"https://api.github.com/repos/sous-chefs/rvm/contributors","subscribers_url":"https://api.github.com/repos/sous-chefs/rvm/subscribers","subscription_url":"https://api.github.com/repos/sous-chefs/rvm/subscription","commits_url":"https://api.github.com/repos/sous-chefs/rvm/commits{/sha}","git_commits_url":"https://api.github.com/repos/sous-chefs/rvm/git/commits{/sha}","comments_url":"https://api.github.com/repos/sous-chefs/rvm/comments{/number}","issue_comment_url":"https://api.github.com/repos/sous-chefs/rvm/issues/comments{/number}","contents_url":"https://api.github.com/repos/sous-chefs/rvm/contents/{+path}","compare_url":"https://api.github.com/repos/sous-chefs/rvm/compare/{base}...{head}","merges_url":"https://api.github.com/repos/sous-chefs/rvm/merges","archive_url":"https://api.github.com/repos/sous-chefs/rvm/{archive_format}{/ref}","downloads_url":"https://api.github.com/repos/sous-chefs/rvm/downloads","issues_url":"https://api.github.com/repos/sous-chefs/rvm/issues{/number}","pulls_url":"https://api.github.com/repos/sous-chefs/rvm/pulls{/number}","milestones_url":"https://api.github.com/repos/sous-chefs/rvm/milestones{/number}","notifications_url":"https://api.github.com/repos/sous-chefs/rvm/notifications{?since,all,participating}","labels_url":"https://api.github.com/repos/sous-chefs/rvm/labels{/name}","releases_url":"https://api.github.com/repos/sous-chefs/rvm/releases{/id}","deployments_url":"https://api.github.com/repos/sous-chefs/rvm/deployments","created_at":"2010-10-13T04:43:25Z","updated_at":"2025-01-02T16:57:08Z","pushed_at":"2024-12-04T14:31:23Z","git_url":"git://github.com/sous-chefs/rvm.git","ssh_url":"git@github.com:sous-chefs/rvm.git","clone_url":"https://github.com/sous-chefs/rvm.git","svn_url":"https://github.com/sous-chefs/rvm","homepage":"https://supermarket.chef.io/cookbooks/rvm","size":700,"stargazers_count":512,"watchers_count":512,"language":"Ruby","has_issues":true,"has_projects":false,"has_downloads":false,"has_wiki":false,"has_pages":false,"has_discussions":false,"forks_count":374,"mirror_url":null,"archived":false,"disabled":false,"open_issues_count":6,"license":{"key":"apache-2.0","name":"Apache License 2.0","spdx_id":"Apache-2.0","url":"https://api.github.com/licenses/apache-2.0","node_id":"MDc6TGljZW5zZTI="},"allow_forking":true,"is_template":false,"web_commit_signoff_required":false,"topics":["chef","chef-cookbook","chef-resource","hacktoberfest","managed-by-terraform","rvm"],"visibility":"public","forks":374,"open_issues":6,"watchers":512,"default_branch":"main","permissions":{"admin":true,"maintain":true,"push":true,"triage":true,"pull":true},"security_and_analysis":{"secret_scanning":{"status":"enabled"},"secret_scanning_push_protection":{"status":"enabled"},"dependabot_security_updates":{"status":"enabled"},"secret_scanning_non_provider_patterns":{"status":"disabled"},"secret_scanning_validity_checks":{"status":"disabled"}}},{"id":2051489,"node_id":"MDEwOlJlcG9zaXRvcnkyMDUxNDg5","name":"percona","full_name":"sous-chefs/percona","private":false,"owner":{"login":"sous-chefs","id":12356028,"node_id":"MDEyOk9yZ2FuaXphdGlvbjEyMzU2MDI4","avatar_url":"https://avatars.githubusercontent.com/u/12356028?v=4","gravatar_id":"","url":"https://api.github.com/users/sous-chefs","html_url":"https://github.com/sous-chefs","followers_url":"https://api.github.com/users/sous-chefs/followers","following_url":"https[...]
[...]
